.App {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  background-color: white;
  color: #333;
}

.App-nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.App-header {
  text-align: center;
  padding: 20px;
}

.heading {
  color: #1b31a8;
  font-size: 18px;
  font-weight: normal;
  font-style: "Open-sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.map-container {
  position: absolute;
  width: 700px;
  height: 500px;
  top: 50px;
  left: 300px;
  gap: 0px;
  /* opacity: 1; Adjusted to make the map visible */
  z-index: 1;
}

.App-content {
  background-color: #f4f8fa;
}
